body {
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#wt1 {
    font-family:  "VT323", Tahoma, sans-serif;
    font-size: 50px;
    font-display: bold;
    color: white;
    border-style: solid;
    border-color: red;
    background-color: red;
    border-width: 50px;
    text-align: center;
    border-radius: 0%;
}

#panel1 {
    display: block;
    margin-left: 25%;
    margin-right: auto;
    float: middle;
    border-style: solid;
    border-width: 5%;
    border-color: red;
    background-color: red;
}

#narrator-dialogue {
    font-family:  "VT323", Tahoma, sans-serif;
    font-size: 30px;
    font-display: normal;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#p1 {
    font-family:  "VT323", Tahoma, sans-serif;
    font-size: 30px;
    font-display: normal;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#p2 {
    font-family:  "VT323", Tahoma, sans-serif;
    font-size: 30px;
    font-display: normal;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#h3-1 {
    font-family:  "VT323", Tahoma, sans-serif;
    font-size: 30px;
    font-display: normal;
    color: white;
    text-align: left;
    margin-top: 17%;
    margin-left: 15%;
    float: left;
    display: inline;
}

#h3-2 {
    font-family:  "VT323", Tahoma, sans-serif;
    font-size: 30px;
    font-display: normal;
    color: white;
    text-align: right;
    margin-top: -16.25%;
    margin-right: 15%;
    float: right;
    display: inline;
}

#back-button {
    font-family:  "VT323", Tahoma, sans-serif;
    font-size: 30px;
    font-display: normal;
    color: white;
    text-align: left;
    margin-left: 25%;
    margin-right: 75%;
    float: left;
}

#next-button {
    font-family:  "VT323", Tahoma, sans-serif;
    font-size: 30px;
    font-display: normal;
    color: white;
    text-align: right;
    margin-left: 75%;
    margin-right: 25%;
    float: right;
}